[Unit]
Description=Dump mysql database
After=network.target

[Service]
WorkingDirectory=/home/jaime
User=jaime
ExecStart=/usr/local/bin/dump-database.sh
Type=oneshot
